body {
  margin: 0px;
}

.SignUp {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../Images/tech.png) center center / cover no-repeat;
}

.signcard-signup {
  background-color: whitesmoke;
  opacity: 0.8;
  height: 455px;
  width: 300px;
  margin-top: 150px;
  margin-bottom: 500px;
}

.card-header {
  color: #3c240f;
}

.card-body {
  color: #3c240f;
}

.container-fluid {
  align-content: center;
  height: 100vh;
}

.card-footerText {
  font-family: "Roboto", sans-serif;
  color: brown;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #383736;
  font-size: 15px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

/**for mobile version make card thinner**/
@media only screen and (max-width: 600px) {
  .card {
    width: 250px;
  }
}
